.brand {
    font-size: medium;
    font-family: Arial;
    color: #696563 !important;
}

.navlink {
    color: #696563 !important;
    font-weight: bolder;
    font-size: large;
    font-family: Arial;
    padding-top: 17px;
    padding-right: 12px !important;
}

.nav-tabs, .nav-link {
    border: none !important;
}

.div {
    color: #696563 !important;
    font-weight: bolder;
    font-family: Arial;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navItem {
    font-size: large;
    font-family: Arial;
    padding-top: 10px;
}

.col-sm-3, .col-sm-9 {
    padding: 0px !important;
}

.button{
    background-color: white;
    color: grey;
    border: 1px solid;
    padding: 8px 17px;
    font-weight: bold;
    max-width: 90px;
    font-variant-caps: small-caps;
}

.table td, .table th {
    padding: 5px;
}

.fontArial {
    font-weight: lighter;
    font-size: medium;
    font-family: Arial;
    color: black;
}